.myCountry{
    border: 1px solid skyblue;
    margin: 50px;
    padding:4px;
    padding-left: 40px;
}

.parentCounty{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.visited{
    background-color: grey;
}
.visitedFlag{

margin-left: 5px;
display: flex;
}

.visitedFlag img{
    padding-top: 8px;
    width: 15px;
    height: 10px;
    margin-left: 5px;
}