.myCountry{
    border: 1px solid skyblue;
    margin: 50px;
    padding:4px;
    padding-left: 40px;
    gap: 10px;
}
.myCountry img{
    height: 160px;
    width: 320px;
}

.parentCounty{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.visited{
    background-color: grey;
}
.visitedFlag{

margin-left: 5px;
display: flex;
}

.visitedFlag img{
    padding-top: 8px;
    width: 15px;
    height: 10px;
    margin-left: 5px;
}

.allVisitedFlag{
    display: flex;
    gap: 5px;
    margin-left: 120px;
}
.allVisitedFlag img{
    height: 50px;
    width: 80px;
}

.txt{
  
    text-align: center;
}
.btn{
    margin-top: 2px;
}
.margin{
    margin-left: 100px;
}